body{

    margin: 0;
    background-color: rgb(217, 217, 217);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

@font-face {
    font-family: "NorseBold";
    src: url("/odin_signup/fonts/NorseBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.pageContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 2fr 2fr 2fr 8fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
   
}

.headerContainer {
    grid-column: 1 / -1;
    display: grid;
    place-items: center;
    background-color: rgba(43, 81, 99, 1);
    box-shadow: 0 0 3px 3px gray;
}

.header {
   display: flex;
   justify-content: center;
   align-items: center;
    height: 6rem;
    width: 100%;
}

img.headerLogo {
    display: block;
    max-height: 4rem;
    width: auto;

}

.headerText{
 font-family: "NorseBold";
 color: white;
 font-size: 40pt;
}
    


.dashboardContainer{
    grid-column: 1 / 2;
    grid-row: 2/6;
    background-color: rgb(22, 42, 52);
   
    grid-template-rows: 1fr 1fr 3fr;
    display: grid;
    width: 240px;

}

.dashboardH{
    grid-row: 1/2;
    text-align: center;
    color: white;
    
}

li{
    list-style: none;
    color: white;
    margin: 2rem 2rem 2rem 1rem; 
    transition: all 0.3s ease;
    
}

li:hover{
    transform: scale(1.05) translateY(-3px);
   
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

.dashboardUpper{
    grid-row: 2/3;
    margin-top: 1rem;
    
    
}

.dashboardLower{
    grid-row: 3/4;
    margin-top: 15rem;

}
.dashboardIconH{
    height: 4rem;
    width: 4rem;
    margin-top: 2rem;
    display: inline;
   

}

.dashboardIconH path{
    fill: white;
}
.dashboardIcon{
    margin-right: 1rem;
    height: 1rem;
    width: 1rem;
   
   
}

.dashboardIcon path{
    fill: white;
}

.searchbarContainer{
    grid-column: 2/5;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background-color: whitesmoke;
    min-width: 600px;
    
    

}
.searchForm{
    display: flex;
    width: auto;

}
.searchbarInput{
   padding: 1rem;
    width: 500px;
    border-radius: 25px;
    border: none;
    background-color:lightgray;
}

.searchbarButton{
    flex: 1;
    background: none;
    border: none;
    height: 3rem;
    width: 3rem;
    transition: 0.3s ease;
}

.searchbarButton:hover{
    transform: scale(1.15);

}

.searchbarIcon{
    width: 2rem;
    height: 2rem;
}

.profileContainer{
    grid-column: 5/7;
    background-color:whitesmoke;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    place-items: center;
}

.profile1{
    grid-column: 1 / 2;
}

.profileIconBell{
height:2rem;
}
.profile2.{
    grid-column: 2 / 3;
}

.profileIconImg{
    height: 3rem;
    border-radius: 100px;
}
.profile3{
    grid-column: 3 / 4;

}

.actionbarContainer{
    grid-column: 2/7;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr  auto;
}

.actionbarLeft{
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.actionbarImg{
    width:6rem;
    border-radius: 100px;
    place-self: center;
}

.actionbarProfileRight{
    place-items: center;
    text-align: center;
}


.actionbarRight{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 2rem;
    padding: 1rem 2rem;

}
.actionbarButton{
    border: none;
    background: rgba(43, 81, 99, 1);
    color: white;
    border-radius: 25px;
    width: 8rem;
    height: 2rem;
    font-size: large;

}

.new{
    grid-column: 1/2;
}
.upload{
    grid-column: 2/3;
}
.share{
    grid-column: 3/4;
}

.projectsContainer{
    grid-column: 2/5;
    grid-row: 4/6;
    
}

.announcementContainer{
    grid-column: 5/6;
    padding: 0.5rem 1rem 1rem 1rem;
    border-radius: 10px;
  
}

.announcementH{
    font-weight: 500;
    font-size: larger;
}

.announceContainer{
border-radius: 10px;
background-color: whitesmoke;
padding: 0 1rem 1rem 1rem;

}
.announce{
    place-self: center;
    padding: 1rem;
    background-color: whitesmoke;
    width: 80%;
    border-bottom: 2px solid lightgray;
    font-size: small;
  
   
 
    
}

.trendingContainer{
    grid-column: 5/6;
    background-color: brown;
}

.footerContainer{
    grid-column: 1/7;
    background-color: cadetblue;
}