body{

    margin: 0
}

.pageContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr) 1rem;
    grid-template-rows: 3fr 4fr 6fr 8fr 8fr 1fr;
    width: 100vw;
    height: 100vh;
    gap: 1rem;
}

.headerContainer{
    grid-column: 1 / 7;
    background-color:red ;
}

.dashboardContainer{
    grid-column: 1 / 2;
   grid-row: 2/6;
    background-color: aqua;
  

}

.searchbarContainer{
    grid-column: 2/5;
    background-color: aquamarine;
}

.profileContainer{
    grid-column: 5/7;
    background-color: beige;
}

.actionbarContainer{
    grid-column: 2/7;
    background-color: bisque;
}

.projectsContainer{
    grid-column: 2/5;
    grid-row: 4/6;
    background-color: blue;
}

.announcementContainer{
    grid-column: 5/6;
    background-color: blueviolet;
}

.trendingContainer{
    grid-column: 5/6;
    background-color: brown;
}

.footerContainer{
    grid-column: 1/7;
    background-color: cadetblue;
}